@page "/auth"
@layout Layout.AuthLayout.AuthLayout
@attribute [AllowAnonymous]

<div id="main-container">
	<EditForm Model="@Model"
			  OnValidSubmit="@SignIn">

		<FluentValidationValidator />

		<fieldset>
			<legend title="@T("inspekta")">
				@T("inspekta")
			</legend>

			<div class="field">
				<InputText class="primary-input"
					   id="login"
					   name="login"
					   type="text"
					   autocomplete="username"
					   placeholder=" "
					   title="@T("login")"
					   @bind-value=Model.Login />
				<label for="login">@T("login")</label>
				<ValidationMessage For="@(() => Model.Login)" class="validator-message" />
			</div>

			<div class="field">
				<InputText class="primary-input"
					   id="password"
					   name="password"
					   type="password"
					   autocomplete="current-password"
					   placeholder=" "
					   title="@T("password")"
					   @bind-value=Model.Password />
				<label for="password">@T("password")</label>
				<ValidationMessage For="@(() => Model.Password)" class="validator-message" />
			</div>

			<button class="primary-button hover"
					type="submit"
					title="@T("sign_in")">
				@T("sign_in")
			</button>
		</fieldset>
	</EditForm>
</div>