@inherits LayoutComponentBase

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div id="main-container">
                <div id="background">
                    <div id="finder">
                        <div id="apps">
                            <span @onclick="@(() => Navigation.NavigateTo("/"))">
                                <Application Name="Panel" />
                            </span>

                            <span @onclick="@(() => Navigation.NavigateTo("/users"))">
                                <Application Name="Użytkownicy" />
                            </span>

                            <span @onclick="@(() => Navigation.NavigateTo("/inspections"))">
                                <Application Name="Przeglądy" />
                            </span>

                            <span @onclick="@(() => Navigation.NavigateTo("/support"))">
                                <Application Name="Wsparcie" />
                            </span>

                            <span @onclick="@(() => Navigation.NavigateTo("/settings"))">
                                <Application Name="Ustawienia" />
                            </span>
                        </div>

                        <div id="footer" 
                            class="hover" 
                            title="Wyloguj">
                            <img src="/img/Pwroff.png" @onclick=LogoutAsync />
                        </div>
                    </div>

                    @Body
                </div>
            </div>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>