@inherits LayoutComponentBase

<div id="main-container">
    <div id="background">
        <div id="finder">
            <div id="apps">
                @if(User.IsInRole("Administrator") || User.IsInRole("SuperAdministrator"))
                {
                    <span @onclick="@(() => Navigation.NavigateTo("/"))">
                        <Application Name="Panel" />
                    </span>

                    <span @onclick="@(() => Navigation.NavigateTo("/users"))">
                        <Application Name="Użytkownicy" />
                    </span>
				}
                
                @if(User.IsInRole("SuperAdministrator"))
                {
                    <span @onclick="@(() => Navigation.NavigateTo("/companies"))">
                        <Application Name="Firmy" />
                    </span>
				}

                @if (User.IsInRole("Inspector") || User.IsInRole("Administrator") || User.IsInRole("SuperAdministrator"))
                {
                    <span @onclick="@(() => Navigation.NavigateTo("/inspections"))">
                        <Application Name="Przeglądy" />
                    </span>
                }

                @if (User.IsInRole("Administrator") || User.IsInRole("SuperAdministrator"))
                {
                    <span @onclick="@(() => Navigation.NavigateTo("/support"))">
                        <Application Name="Wsparcie" />
                    </span>

                    <span @onclick="@(() => Navigation.NavigateTo("/settings"))">
                        <Application Name="Ustawienia" />
                    </span>
                }
            </div>

            <div id="footer" 
                class="hover" 
                title="Wyloguj">
                <img src="/img/Pwroff.png" @onclick=LogoutAsync />
            </div>
        </div>

        @Body
    </div>
</div>
